<main>
    <h1>Вход</h1>
    <from class="form" id="register-form">
        <label for="name">Имя</label>
        {{> Input id="name" type="text" name="name" placeholder="имя"}}    
     
        <label for="password">Фамилия</label>
        {{> Input id="password" type="password" name="password" placeholder="фамилия"}}    
      
        <label for="login">Логин</label>  
        {{> Input id="login-register" type="text" name="login" placeholder="логин"}}

        <label for="password">E-mail</label>
        {{> Input id="password" type="password" name="password" placeholder="e-mai"}}    

        <label for="password">Пароль</label>
        {{> Input id="password" type="password" name="password" placeholder="пароль"}}    
     
        <label for="password">Повторите пароль</label>
        {{> Input id="password" type="password" name="password" placeholder="пароль"}}    
        <button class="button" type="submit">Зарегистироваться</button>
    </from>
</main>