<main>
    <h1>Вход</h1>
    <from class="first_name" id="register-form">
        <label for="name">Имя</label>
        {{> Input id="name" type="text" name="first_name" placeholder="имя"}}    
     
        <label for="second_name">Фамилия</label>
        {{> Input id="lastname" type="text" name="second_name" placeholder="фамилия"}}    
      
        <label for="login">Логин</label>  
        {{> Input id="login-register" type="text" name="login" placeholder="логин"}}

         <label for="email">E-mail</label>  
        {{> Input id="email" type="text" name="email" placeholder="email"}}

        <label for="phone">Телефон</label>
        {{> Input id="phone" type="tel" name="phone" placeholder="телефон"}}    

        <label for="password">Пароль</label>
        {{> Input id="password" type="password" name="password" placeholder="пароль"}}    
     
        <label for="password-two">Повторите пароль</label>
        {{> Input id="password-two" type="password" name="password" placeholder="пароль"}}    
        <button class="button" type="submit">Зарегистироваться</button>
    </from>
</main>