<main>
    <h1>Вход</h1>
    <from class="form" id="login-form">
        <label for="login">Логин</label>
        {{> Input id="login" type="text" name="login" placeholder="логин"}}
        <label for="password">Пароль</label>
        {{> Input id="password" type="password" name="password" placeholder="пароль"}}     
        <button class="button" type="submit">Войти</button>
    </from>
    <a href="/register.html" >Нет профиля</a>
</main>