<div class="container">
{{> Header }}
<main class="main">
    <h1>Профиль</h1>
 
    <from class="form" id="register-form">
        <div class="avatar-wrap"></div>
        {{> Input id="avatar" class="avatar" type="file" name="avatar" placeholder="фото"}} 
        <label for="first_name">Имя</label>
        {{> Input id="name" type="text" name="first_name" placeholder="имя"}}    
     
        <label for="second_name">Фамилия</label>
        {{> Input id="lastname" type="text" name="second_name" placeholder="фамилия"}}    
      
        <label for="login">Логин</label>  
        {{> Input id="login-register" type="text" name="login" placeholder="логин"}}

         <label for="email">E-mail</label>  
        {{> Input id="email" type="text" name="email" placeholder="email"}}

        <label for="phone">Телефон</label>
        {{> Input id="phone" type="tel" name="phone" placeholder="телефон"}}    

        <label for="oldPassword">Старый пароль</label>
        {{> Input id="password" type="password" name="oldPassword" placeholder="пароль"}}  

          <label for="newPassword">Новый пароль</label>
        {{> Input id="password" type="password" name="newPassword" placeholder="пароль"}}   

        <button class="button" type="submit">Изменить</button>
        <button class="button" type="submit">Выйти</button>
    </from>
</main>
</div>
