@import '../variables.css';

body {
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 100vh;
  margin: 0;
  font-size: 16px;
}

#avatar {
  border: none;
}

.avatar-wrap {
  border: 1px solid var(--border-color);
  border-radius: 100px;
  width: 80px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--border-color);
  opacity: 0.4;
}

header {
  display: flex;
  flex-direction: row;
}

.container {
  width: 100%;
}

.menu {
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  margin: 0;
  /* width: 40%; */
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.input {
  border-radius: 12px;
  padding: 10px 20px;
  border: 1px solid var(--border-color);
}

.button {
  background: var(--primary-color);
  color: var(--background-color);
  padding: 10px 20px;
  border-radius: 12px;
  margin-top: 20px;
  border: none;
  margin-bottom: 6px;
}

input:focus {
  outline: none;
}

container {
  height: 100%;
}

.big-text {
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 10px;
}
