body {
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-size: 16px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.input {
  border-radius: 12px;
  padding: 10px 20px;
  border: 1px solid #141F33;
}

.button {
  background: #00C78B;
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 12px;
  margin-top: 20px;
  border: none;
  margin-bottom: 6px;
}

input:focus {
  outline: none;
}

.big-text {
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 10px;
}
